# Maven #

target/


# IDEA #

.idea/

*.iml


# Eclipse #

.settings/
.metadata/
.classpath
.project
.myeclipse
.classpath.bak
.classpath.mine
.eclipse-pmd
*.properties
classes/

Servers/


# Mac #

.DS_Store
